// Import variables and mixins to be used (Bourbon).
@import 'lib/bourbon/bourbon';
@import 'lib/neat/neat-helpers';

// Turn on Neat's visual grid for development.
$visual-grid: false;
$visual-grid-color: #eee;

// Set to false if you'd like to remove the responsiveness.
$responsive: true;

// Set total number of columns in the grid.
$grid-columns: 12;

// Set the max width of the page.
$font-size: 18px;
$max-width: 1400px;

// Define breakpoints.
// The last argument is the number of columns the grid will have for that screen size.
// We've kept them all equal here.
$small:   new-breakpoint(min-width em(650px) $grid-columns);
$medium:  new-breakpoint(min-width em(960px) $grid-columns);
$large:   new-breakpoint(min-width em(1120px) $grid-columns);

// Import grid to be used (Bourbon Neat) now that we've set our overrides.
@import 'lib/neat/neat';
