sites/default/files
sites/default/settings.php
sites/sites.php
cache
.git
.travis
.idea
bin
nbproject
private
provisioning
scripts
tmp
db
.s3cfg
vendor
*.sql
*.gz
*.tar
*.zip
*.travis.yml
.mysql_data
