/**
 * @file
 *
 * Styles for the call to action on the front page.
 */

.path-frontpage main {
  padding: 1em 0 3em;
}

.path-frontpage .call-to-action {
  $large-screen: em(860) !default;
  $call-to-action-background-top: $logo-blue;
  $call-to-action-background-bottom: darken($action-color, 20%);
  $call-to-action-color: $base-background-color;
  $gradient-angle: 10deg;
  $call-to-action-image: '../images/call-to-action.jpg';

  @include background(url($call-to-action-image), linear-gradient($gradient-angle, $call-to-action-background-bottom, $call-to-action-background-top), no-repeat $call-to-action-background-top scroll);
  background-color: $call-to-action-background-bottom;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $general-spacing * 3;
  padding-bottom: $general-spacing * 3;

  .call-to-action__inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 7em 1em 1em;
    text-align: center;

    @include media($small) {
      padding: 7em 3.5em 3.5em;
    }

    .call-to-action__copy {
      text-align: center;

      h2 {
        color: $call-to-action-color;
        font-size: 1.5em;
        margin-bottom: .5em;

        @include media($large-screen) {
          font-size: 2.25em;
        }
      }

      .field--name-field-call-to-action-descriptive {
        color: $call-to-action-color;
        font-size: 1.3em;
      }

      a {
        @extend #{$all-buttons};
        background-color: $logo-red;
        font-size: .8em;
        margin-bottom: 1em;

        @include media($large-screen) {
          font-size: 1.1em;
          margin-bottom: 0;
        }

        &:hover,
        &:focus {
          background-color: lighten($logo-red, 10%);
        }

        &.call-to-action__button--left {
          @include media(em(400)) {
            margin-right: .5em;
          }
        }
      }
    }
  }
}

.progress-bar-indication {
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-line-height: 1.5em !default;
  $progress-border-color: $base-border-color;
  $progress-border: 1px solid $progress-border-color;
  $progress-meter-border-color: $action-color;
  $progress-meter-border: 1px solid darken($progress-meter-border-color, 15%);
  $progress-meter-color: $progress-meter-border-color;
  $progress-background: darken($base-background-color, 5);
  $progress-animation-duration: .7s;
  $progress-color: #fff;
  $text-shadow: #000;

  background-color: $progress-background;
  border: $progress-border;
  border-radius: $base-border-radius;
  box-shadow: inset 0 0 3px 0 rgba(darken($progress-background, 50%), .15);
  margin: 0 auto;
  width: 100%;

  > .meter {
    @include box-sizing(border-box);
    background-color: $progress-meter-color;
    background-repeat: repeat-x;
    background-size: 40px 40px;
    border: $progress-meter-border;
    border-bottom-right-radius: 0;
    border-radius: $base-border-radius / 1.5;
    border-top-right-radius: 0;
    display: block;
    height: 100%;
    width: 60%;
  }

  p {
    color: $progress-color;
    line-height: $base-line-height;
    margin: 0;
    padding: .1em .5em;
    text-shadow: 0 0 1px $text-shadow;
  }
}
