/**
 * @file
 *
 * Styles for the footer region.
 */

.footer__wrapper {
  $footer-background: $base-font-color;
  $footer-color: $base-background-color;
  $footer-link-color: $footer-color;
  $footer-break: 740px;

  background: $footer-background;
  border-top: solid 1em $logo-red;
  clear: both;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  .footer-links {
    @include media($footer-break) {
      @include display(flex);
      @include justify-content(center);
      @include flex-wrap(wrap);
    }
  }

  .footer-logo {
    margin-bottom: 2em;
    text-align: center;

    img {
      height: 3em;
    }
  }

  ul,
  div {
    margin-bottom: $general-spacing;
    padding: 0;

    @include media($footer-break) {
      @include flex-basis(13em);
      @include flex-shrink(0);
    }
  }

  ul.menu {
    margin-left: 0;

    .menu-item {
      padding-top: 0;
    }
  }

  li {
    color: $base-background-color;
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $logo-blue;
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }

  hr {
    border: 1px solid transparentize($footer-color, 0.3);
    margin: $general-spacing * 2 auto;
    width: 12em;
  }

  p {
    color: $footer-color;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }

  .footer__social-media__links {
    @include display(flex);
    @include justify-content(center);

    .footer__icon {
      padding: 1.5em .5em .5em;
    }
  }

  .footer__menu {
    display: none;

    @include media($footer-break) {
      display: block;
    }
  }

  .footer__menu--mobile {
    display: block;

    @include media($footer-break) {
      display: none;
    }
  }
}
