/**
 * @file
 *
 * Styles for the footer region.
 */

.region-footer {
  background-color: $footer-background;
  border-top: solid 1em $logo-red;
  clear: both;
  padding-bottom: $navigation-padding / 2;
  padding-top: $navigation-padding / 2;

  .footer__wrapper {
    @include span-columns(10);
    @include shift(1);
    float: none;
  }

  .footer__logo {
    display: inline-block;

    img {
      line-height: 1em;
    }
  }

  .menu--footer {
    display: inline-block;
    float: right;

    .menu {
      line-height: 1.5em;
      margin: 0 0 1em;
      padding: 0;

      @include media($small) {
        float: left;
        margin-bottom: 0;
        margin-left: 2em;
      }
    }

    .menu-item {
      line-height: 1.5em;
      list-style: none;
      padding-top: 0;
      text-align: right;

      @include media($small) {
        display: inline;
        line-height: 4em;
        padding-right: 2em;
        text-align: left;
      }

      a {
        color: $navigation-color;

        &:hover,
        &:focus {
          color: $base-background-color;
        }
      }
    }
  }
}
