/**
 * @file
 *
 * Custom form styles.
 */

// Login form.
.path-user {
  input[type=text],
  input[type=email],
  input[type=password] {
    @include media($small) {
      width: 50%;
    }

    @include media($medium) {
      width: 33%;
    }
  }
}

// Contact page.
.path-contact {
  input[type=text],
  input[type=email],
  textarea {
    @include media($medium) {
      width: 66%;
    }
  }
}