/**
 * @file
 * Styles for game nodes.
 */

.jersey-color {
  width: 1em;
  height: 1em;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.7em;
}

.views-field-field-abbreviation {
  a {
    display: inline-block;
  }
}

.view-id-standings {
  .views-field-field-abbreviation {
    width: 40%;
  }
}


.game-list {
  font-size: 100%;
  // TODO: Adjust this for smaller screens.
}

.view-id-games {
  caption {
    float: left;
    font-weight: bold;
    min-width: 150px;
  }
}
