/**
 * @file
 * Styles for game landing page (/futsal).
 */

.node--type-page {
  .block-views-blockgames-block-2,
  .block-views-blockgames-block-3,
  .block-views-blockstandings-block-1,
  .block-views-blockstandings-block-2 {
    h2 {
      margin-top: $general-spacing * 2;
    }
  }
}

.jersey-color {
  background-color: $base-background-color;
  border-radius: 50%;
  display: inline-block;
  height: .75em;
  margin-right: .75em;
  width: .75em;

  @include media($small) {
    height: 1em;
    width: 1em;
  }
}

.view-id-games,
.view-id-standings {
  // Game date.
  caption {
    font-weight: bold;
    padding-bottom: 1em;
    text-align: left;
  }
}

// Table rows.
.view-id-games .game-list,
.view-id-standings_spring_2016 .team-standings,
.view-id-standings .team-standings {
  @extend %atletico-table;
}

// Set widths for games table cells on small screens.
.view-id-games {
  // Time field.
  td:first-child {
    width: 15%;
  }

  // Jersey color fields.
  .views-field-field-jersey-color-html-,
  .views-field-field-jersey-color-html__1 {
    width: 1.5em;
  }

  .views-field-field-jersey-color-html__1 {
    padding-left: .25em;
  }

  td:first-child,
  .views-field-field-jersey-color-html-,
  .views-field-field-jersey-color-html__1 {
    @include media($small) {
      width: auto;
    }
  }

  // Team names.
  .views-field-field-abbreviation-1,
  .views-field-field-abbreviation {
    overflow: hidden;
    white-space: nowrap;
  }
}

// Set widths for upcoming games table cells on small screens.
.view-id-games--upcoming {
  // "v" field.
  .views-field-nothing {
    width: 1.5em;
  }

  // Game location.
  .views-field-field-abbreviation-2 {
    overflow: hidden;
    padding-right: .5em;
    text-align: right;
    white-space: nowrap;
    width: 15%;
  }

  .views-field-nothing,
  .views-field-field-abbreviation-2 {
    @include media($small) {
      width: auto;
    }
  }
}

// Set widths for past games table cells on small screens.
.view-id-games--previous {
  // Score field.
  .views-field-nothing {
    width: 4em;

    @include media($small) {
      width: auto;
    }
  }
}

.view-id-standings_spring_2016,
.view-id-standings {
  // Team name.
  .views-field-field-abbreviation {
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
  }
}

// Style game views on front page.
.region-content-left,
.region-content-right {
  .view-id-standings_spring_2016 .team-standings,
  .view-id-standings .team-standings,
  .view-id-games .game-list {
    font-size: 80%;

    @include media($medium) {
      font-size: 100%;
    }
  }

  // Game views.
  .view-id-games {
    // Time field.
    td:first-child {
      width: 4em;
    }

    // Jersey color fields.
    .views-field-field-jersey-color-html-,
    .views-field-field-jersey-color-html__1 {
      width: 1.5em;
    }

    // "v" field.
    .views-field-nothing {
      width: 1.5em;
    }

    .views-field-field-jersey-color-html-,
    .views-field-field-jersey-color-html__1,
    .views-field-nothing {
      @include media($medium) {
        width: 3em;
      }
    }
  }
}
