/**
 * @file
 * Styles for game nodes.
 */

.node--type-page {
  .block-views-blockgames-block-2,
  .block-views-blockgames-block-3,
  .block-views-blockstandings-block-1,
  .block-views-blockstandings-block-2 {
    h2 {
      margin-top: $general-spacing * 2;
    }
  }
}

.jersey-color {
  background-color: $base-background-color;
  border-radius: 50%;
  display: inline-block;
  height: 1em;
  margin-right: .7em;
  width: 1em;
}

.view-id-games {
  // Game date.
  caption {
    font-weight: bold;
    padding-bottom: 1em;
    text-align: left;
  }

  // Table rows.
  .game-list {
    background-color: $table-background;
    cursor: pointer;
    // TODO: Adjust font size for smaller screens.
    font-size: 100%;
    padding-left: 1em;

    &:hover {
      background-color: $table-background-hover;
    }

    &:first-child {
      border-top: solid 2px $action-color;
    }

    td:first-child {
      padding-left: .5em;
    }
  }
}

.view-id-standings {
  .views-field-field-abbreviation {
    width: 40%;
  }
}
