/**
 * @file
 * Styles for game nodes.
 */

.jersey-color {
  width: 1em;
  height: 1em;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.7em;
}

.views-field-field-abbreviation {
  a {
    display: inline-block;
  }
}

.view-id-standings {
  .views-field-field-abbreviation {
    width: 40%;
  }
}


.game-list {
  // TODO: Adjust font size for smaller screens.
  font-size: 100%;
  background-color: #f7f7f7;
  padding-left: 1em;
  tr:hover {
    background-color: red;
  }
  cursor: pointer;
}



table>tbody>tr:hover {
  background-color: #f0f0f0;
}

.view-id-games {
  caption {
    float: left;
    font-weight: bold;
    min-width: 150px;
    padding-bottom: 1em;
  }

  table tr td:nth-child(1){
    // TODO: This isn't working.
    border-top-width: 2px;
    border-top-color: #477dca;
  }
}
