/**
 * @file
 * Styles for golden boot blocks.
 */

// Table rows.
.block-golden-boot-winter2016,
.block-golden-boot-winter2016division2 {
  @extend %atletico-table;
  font-size: 80%;

  @include media($medium) {
    font-size: 100%;
  }
}
