#block-languageswitcher {
    $large-screen: em(860) !default;
    text-transform: uppercase;
    float: right;
    overflow: hidden;
    ul {
      padding-top: 1em;
    }
    li {
        display: inline;
        .is-active {
            display: none;
        }
        a {
            @extend #{$all-buttons};
            background-color: $logo-red;
            font-size: .8em;
            margin-bottom: 1em;

            @include media($large-screen) {
                font-size: 0.9em;
                margin-bottom: 0;
            }

            &:hover,
            &:focus {
                background-color: lighten($logo-red, 10%);
            }
        }
    }
}
