.block-language-blocklanguage-interface {
  float: right;
  overflow: hidden;
  text-transform: uppercase;

  li {
    display: inline;
    margin-right: .25em;

    @include media($header-break) {
      line-height: 8em;
    }

    .is-active {
      display: none;
    }

    a {
      @extend #{$all-buttons};
      background-color: $logo-red;
      font-size: .8em;
      margin-bottom: 1em;
      padding: .75em;

      @include media($header-break) {
        font-size: .9em;
        margin-bottom: 0;
      }

      @include media(em(700)) {
        font-size: 1em;
      }

      &:hover,
      &:focus {
        background-color: lighten($logo-red, 10%);
      }
    }
  }
}
