/**
 * @file
 *
 * Styles for node pages.
 */

.path-node {
  h1 {
    @extend %underline;
    text-align: center;
  }

  .node__meta {
    margin-bottom: 1.5em;
    text-align: center;
  }

  .node__content {

    // Handle floated images within posts.
    .caption-img.align-left,
    .caption-img.align-right {
      max-width: 50%;

      img {
        height: auto;
      }
    }

    .field--name-body p:last-child {
      margin-bottom: 0;
    }

    .field--name-field-tags {
      border-bottom: solid 4px $logo-red;
      margin: 1.5em 0;
      padding-bottom: 1.5em;
    }
  }
}
