/**
 * @file
 * Styles for RDF UI custom combobox.
 */

.custom-combobox {
  display: inline-block;
  position: relative;
}

.custom-combobox-toggle {
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  position: absolute;
  top: 0;
}

.custom-combobox-input {
  margin: 0;
  padding: 0.3em;
}

.ui-state-default,
.ui-widget-content,
.ui-state-default,
.ui-widget-header,
.ui-state-default {
  background: url("../../../core/assets/vendor/jquery.ui/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #e6e6e6;
  border: 1px solid #d3d3d3 !important;
  color: #555555;
  font-weight: normal;
}

.ui-button-icon-only {
  width: 2.2em;
}

.ui-widget-content {
  background: url("../../../core/assets/vendor/jquery.ui/themes/base/images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ffffff !important;
  border: 1px solid #aaaaaa;
  color: #222222;
}

.ui-widget-content a {
  color: #222222;
}

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;

  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}
