/**
 * @file
 *
 * Layout styles for node pages.
 */

.path-node {

  // Tabs viewable by admins.
  #block-atletico-local-tasks {
    margin-bottom: 1.5em;
    text-align: center;
  }

  section {
    margin-top: $general-spacing * 1.5;
  }

  .node__links {
    .comment-forbidden {
      padding: 0;
    }
  }

  // Two column layout on larger screens.
  .layout-content {
    @include media($medium) {
      @include span-columns(6.75 of 10);
    }
  }

  .layout-sidebar {
    margin-top: $general-spacing * 3;

    @include media($medium) {
      @include span-columns(3 of 10);
      @include shift(.25);
      margin-top: 0;
    }

    .block {
      margin-bottom: $general-spacing * 3;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .item-list li {
      margin-left: 0;
    }
  }
}