/**
 * @file
 *
 * Layout styles for node pages.
 */

.path-node {

  // Tabs viewable by admins.
  #block-atletico-local-tasks {
    margin-bottom: 1.5em;
    text-align: center;
  }

  section {
    margin-top: $general-spacing * 1.5;
  }

  .node__links {
    .comment-forbidden {
      padding: 0;
    }
  }

  .layout-sidebar {
    // TODO.
  }
}