/**
 * @file
 *
 * Layout styles for the front page.
 */

.path-frontpage {

  .layout-content-left,
  .layout-content-right {
    @extend %block;

    @include media($small) {
      @include span-columns(5 of 10);
      padding: $general-spacing * 2;
    }

    li {
      margin: 0 0 .5em 0;
    }
  }

  .layout-content-left {
    margin-bottom: $general-spacing * 3;

    @include media($small) {
      margin-bottom: 0;
    }

    .field--name-body h2 {
      margin-top: 1.5em;
    }
  }

  .layout-content-right {
    .menu--tools h2 {
      margin-top: 1.5em;
    }
  }
}
