/**
 * @file
 *
 * Layout styles for node pages.
 */

.path-node {

  // Tabs viewable by admins.
  #block-atletico-local-tasks {
    margin-bottom: 1.5em;
    text-align: center;
  }

  section {
    margin-top: $general-spacing * 1.5;
  }

  .node__links {
    .comment-forbidden {
      padding: 0;
    }
  }

  // Two column layout on larger screens.
  .layout-content {
    @include media($medium) {
      @include span-columns(6.75 of 10);
    }
  }

  .layout-sidebar {
    @include media($medium) {
      @include span-columns(3 of 10);
      @include shift(.25);
    }

    .block {
      @extend %block;
      margin-bottom: $general-spacing * 3;
    }

    h2 {
      text-align: center;
    }

    .item-list li {
      margin-left: 0;
    }

    // Recent posts.
    .block-views-blockposts-block-1 {
      .item-list li {
        border-bottom: solid 1px $light-gray;
        padding-bottom: .25em;

        &:last-child {
          border: none;
          padding: none;
        }
      }
    }
  }
}