//
// Styles for the footer region.
//

// Actual footer.
.footer__wrapper {
  background: $footer-background;
  border-top: solid 1em $logo-red;
  clear: both;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;

  ul,
  div {
    padding: 0;

    @include media($footer-break) {
      flex-basis: 13em;
      flex-shrink: 0;
    }
  }

  li {
    color: $base-background-color;
    line-height: 1.5em;
    list-style: none;

    a {
      color: $footer-link-color;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $logo-blue;
      }
    }
  }

  p {
    color: $footer-color;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
  }

  .footer-logo {
    text-align: center;

    img {
      display: inline;
    }
  }

  .footer-links {
    @include media($footer-break) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .footer-links > div,
  .footer__address {
    margin-bottom: 1.5em;

    @include media($footer-break) {
      margin-bottom: 0;
    }
  }

  // Need high specificity to override Drupal styles.
  // scss-lint:disable QualifyingElement
  ul.menu {
    margin-left: 0;

    .menu-item {
      padding-top: 0;
    }

    a.is-active {
      color: $logo-blue;
    }
  }
  // scss-lint:enable QualifyingElement

  .footer__menu {
    display: none;

    @include media($footer-break) {
      display: block;
    }

    @include media($medium) {
      padding-left: $block-margin;
    }

    .menu-item {
      line-height: 2em;
    }
  }

  .footer__menu--mobile {
    display: block;

    @include media($footer-break) {
      display: none;
    }

    .menu-item {
      line-height: 1.5em;
      text-align: center;
    }
  }

  .footer__address {
    li {
      text-align: center;
    }
  }

  .footer__address__name {
    font-family: $heading-font-family;
    font-size: $base-font-size * 1.563;
    margin-bottom: 1.25em;
  }

  .footer__social-media__links {
    display: flex;
    justify-content: center;

    @include media($footer-break) {
      justify-content: flex-end;
    }

    @include media($medium) {
      padding-right: $block-margin;
    }

    .footer__icon {
      padding: 0 .5em;
    }
  }

  .footer__copyright {
    margin-top: 2em;
    text-align: center;
  }
}
