//
// Custom form styles.
//

// Login form.
// scss-lint:disable QualifyingElement
.path-user {
  input[type=text],
  input[type=email],
  input[type=password] {
    @include media($small) {
      width: 50%;
    }

    @include media($medium) {
      width: 33%;
    }
  }
}

// Contact page.
.path-contact {
  input[type=text],
  input[type=email],
  textarea {
    @include media($medium) {
      width: 66%;
    }
  }

  .form-actions {
    margin: 0;

    input {
      margin: 1em 0 .5em;

      &:first-child {
        margin-right: 1em;
      }
    }
  }
}
// scss-lint:enable QualifyingElement
