//
// Styles for games and standings views.
//

// Jersey color circles.
td[class^="views-field-field-jersey"],
td[class*="views-field-field-jersey"] {
  text-align: center;
}

.jersey-color {
  background-color: $base-background-color;
  border: solid 1px $table-border;
  border-radius: 50%;
  display: inline-block;
  height: .75em;
  width: .75em;

  @include media($small) {
    height: 1em;
    width: 1em;
  }
}

// General styles for games and standings views.
.view-id-games,
.view-id-standings,
div[class^="block-views-blockstandings-"],
div[class*="block-views-blockstandings-"] {
  margin-bottom: $block-margin;

  .views-table {
    margin: 0 0 $inter-block-margin;
  }

  h2 {
    margin: $general-spacing 0 0;
  }

  // Game date above table.
  caption {
    font-weight: bold;
    padding-bottom: $general-spacing / 2;
    text-align: left;
  }
}

// Table rows.
.view .game-list,
.view .team-standings {
  @extend %atletico-table;
}

// Set widths for games table cells.
.view-id-games {
  // Time field.
  td:first-child {
    width: 15%;
  }

  // Jersey color fields.
  .views-field-field-jersey-html-color,
  .views-field-field-jersey-html-color-1 {
    width: 3em;
  }

  // "v" field.
  .views-field-nothing {
    width: 1.5em;
  }

  // Team names.
  .views-field-field-abbreviation-1,
  .views-field-field-abbreviation {
    overflow: hidden;
  }
}

// Style game views on front page.
.path-frontpage .view-id-games {
  .game-list {
    font-size: 80%;

    @media all and (min-width: 500px) {
      font-size: 100%;
    }

    @include media($small) {
      font-size: 80%;
    }

    @include media($medium) {
      font-size: 100%;
    }
  }
}

// Set widths for upcoming games table cells.
.view-id-games--upcoming {
  // "v" field.
  .views-field-nothing {
    width: 1.5em;
  }

  // Game location.
  .views-field-field-abbreviation-2 {
    overflow: hidden;
    padding-right: .5em;
    text-align: right;
    white-space: nowrap;
  }

  .more-link {
    margin-top: $inter-block-margin;
  }
}

// Set widths for past games table cells.
.view-id-games--previous {
  // Jersey color fields.
  .views-field-field-jersey-color-html-,
  .views-field-field-jersey-color-html__1 {
    width: 3em;
  }

  // Score field.
  .views-field-nothing {
    width: 3.5em;

    @include media($small) {
      width: 5em;
    }
  }
}

// Standings views.
.view-id-standings,
div[class^="view-standings-"],
div[class*="view-standings-"] {
  .jersey-color {
    margin-right: .5em;
  }

  // Team name.
  .views-field-field-abbreviation {
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
  }
}
