//
// Styles for golden boot blocks.
//

div[class^="block-golden-boot"],
div[class*="block-golden-boot"] {
  font-size: 80%;
  margin-bottom: $inter-block-margin;

  @include media($medium) {
    font-size: 100%;
  }

  // Table rows.
  tbody tr {
    @extend %atletico-table;
  }
}
