//
// Styles for the header region.
//

header {
  min-height: $navigation-height;
  width: 100%;

  .navigation-wrapper {
    @include clearfix;

    display: flex;
    position: relative;

    @include media($horizontal-bar-mode) {
      padding-top: $navigation-padding * 1.5;
    }
  }

  .logo {
    display: block;
    flex-shrink: 0;
    margin-right: auto;
    max-height: $navigation-height-mobile;
    padding-left: $navigation-padding;
    padding-right: 2em;

    @include media ($horizontal-bar-mode) {
      max-height: $navigation-height;
    }

    img {
      max-height: $navigation-height-mobile;
      padding: .75em 0;

      @include media ($horizontal-bar-mode) {
        max-height: $navigation-height;
        padding: 1.25em 0;
      }
    }
  }

  // The div containing the main and account menus.
  .navigation-menus {
    background-color: $navigation-background;
    box-shadow: 0 4px 6px transparentize($dark-grey, .5);
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    position: absolute;
    top: $navigation-height-mobile;
    width: 100%;
    z-index: 2;

    @include media($horizontal-bar-mode) {
      background-color: transparent;
      box-shadow: none;
      top: $navigation-height;
    }

    @include media ($horizontal-bar-mode) {
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      position: static;
      z-index: 1;
    }
  }

  nav {
    // Override Drupal CSS. Don't indent top level menus.
    // scss-lint:disable QualifyingElement
    > ul.menu {
      margin-left: 0;
    }
    // scss-lint:enable QualifyingElement
  }
}
