//
// Styles for the main navigation and account menu in the header.
//
// These are inline and floated right on large screens and contained in a one-
// column list that's shown and hidden by the MENU link on small screens.
//

.navigation-menus {

  // <nav> elements (main navigation and account menu).
  nav {
    @include media ($horizontal-bar-mode) {
      min-height: $navigation-height;
    }

    // Override Drupal CSS. Don't indent top level menus.
    // scss-lint:disable QualifyingElement
    > ul.menu {
      margin-left: 0;
    }
    // scss-lint:enable QualifyingElement
  }

  .menu--main {
    @include media ($horizontal-bar-mode) {
      margin-right: auto;
    }
  }

  // The menu items (<li> elements).
  .menu-item {
    display: block;
    line-height: 2em;
    overflow: hidden;
    padding-top: 0;
    text-align: left;
    width: 100%;

    @include media ($horizontal-bar-mode) {
      background-color: transparent;
      display: inline;
      line-height: $navigation-height;
      padding-right: .75em;
      text-decoration: none;
      width: auto;
    }

    // The actual link.
    a {
      background-color: $light-grey;
      color: $navigation-color;
      display: block;
      font-family: $base-font-family;
      font-weight: bold;
      padding: .25em 0 .25em .75em;
      text-decoration: none;
      text-transform: uppercase;

      @include media ($horizontal-bar-mode) {
        background-color: transparent;
        display: inline-block;
        padding: 0 1em 0 0;
      }

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .menu--account {
    .menu-item a {
      @include media($horizontal-bar-mode) {
        font-weight: normal;
        text-transform: none;
      }
    }
  }

  // Need to override Drupal's CSS to set style for active nav item.
  // scss-lint:disable QualifyingElement
  ul.menu a.is-active {
    color: $navigation-active-link-color;
  }
  // scss-lint:enable QualifyingElement

  // Menu item (<li>) that has a submenu.
  .menu-item--expanded {
    // scss-lint:disable ImportantRule
    overflow: visible !important;
    // scss-lint:enable ImportantRule
    padding-right: 0;

    @include media($horizontal-bar-mode) {
      padding-right: $navigation-submenu-padding * 2;
      position: relative;

      > ul > li:first-child a {
        padding-top: 1em;
      }
    }

    // The actual link with the submenu.
    > a {
      padding-right: .75em;
      position: relative;

      @include media($horizontal-bar-mode) {
        padding-right: .5em;
      }

      &::after {
        @include position(absolute, auto -.4em auto auto);
        color: $navigation-color;

        @include media($horizontal-bar-mode) {
          content: '\25BE';
        }
      }
    }

    &:focus > .menu,
    &:hover > .menu {
      display: flex;

      @include media($horizontal-bar-mode) {
        display: block;
      }
    }

    // The submenu.
    // Sorry about the nesting.
    .menu {
      background-color: $base-background-color;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;

      @include media($horizontal-bar-mode) {
        display: none;
        left: 0;
        margin-left: 0;
        position: absolute;
        top: 2em;
      }

      // Submenu items.
      li {
        display: block;
        overflow: visible;
        padding-right: 0;
        padding-top: 0;
        width: 50%;

        @include media($small) {
          width: 33.3%;
        }

        @include media($horizontal-bar-mode) {
          line-height: 2em;
          width: 100%;

          &:last-child > a {
            border-bottom-left-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
            padding-bottom: .7em;
          }
        }

        // Submenu item links.
        a {
          background-color: $base-background-color;
          display: inline-block;
          font-weight: normal;
          text-transform: none;
          width: 100%;

          @include media($horizontal-bar-mode) {
            background-color: $navigation-background;
            padding: .5em .5em .5em $navigation-submenu-padding;
            width: $navigation-submenu-width;
          }
        }
      }
    }
  }
}
