.block-language-blocklanguage-interface {
  background-color: $navigation-background;
  flex-shrink: 0;
  overflow: hidden;

  @include media($horizontal-bar-mode) {
    background-color: transparent;
    order: 3;
    padding-right: $navigation-padding;
  }

  li {
    border-bottom: solid 1px $table-border;

    @include media($horizontal-bar-mode) {
      border: 0;
      display: inline;
      line-height: $navigation-height;
      padding-left: 1em;
    }

    &.is-active {
      display: none;
    }

    a {
      @extend #{$all-buttons};

      @include menu-link();
      @include menu-link-small();

      @include media($horizontal-bar-mode) {
        background-color: $action-color;
        color: $base-background-color;
        display: inline-block;
        font-weight: normal;
        margin-bottom: 0;
        padding: .5em .75em;
        text-transform: none;
      }

      &:hover,
      &:focus {
        background-color: $navigation-background;

        @include media($horizontal-bar-mode) {
          background-color: $logo-blue;
          color: $base-background-color;
        }
      }
    }
  }
}
