.block-language-blocklanguage-interface {
  flex-shrink: 0;
  overflow: hidden;

  @include media($horizontal-bar-mode) {
    order: 3;
  }

  li {
    display: inline;
    line-height: $navigation-height-mobile;
    padding-right: 1em;

    @include media($horizontal-bar-mode) {
      line-height: $navigation-height;
      padding-right: 1.75em;
    }

    &.is-active {
      display: none;
    }

    a {
      @extend #{$all-buttons};
      background-color: $action-color;
      font-weight: normal;
      margin-bottom: 0;
      padding: .5em .75em;

      &:hover,
      &:focus {
        background-color: $logo-red;
      }
    }
  }
}
