//
// Styles for the menu link in the header on small screens.
//

.navigation-menu-button {
  display: block;
  font-size: 1.6em;
  line-height: $navigation-height-mobile;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;

  @include media ($horizontal-bar-mode) {
    display: none;
    line-height: $navigation-height;
  }

  &::after {
    color: $navigation-color;
    content: '\f0c9';
    font-family: FontAwesome;
  }

  &.open::after {
    content: '\f00d';
  }

  &:focus,
  &:hover {
    color: $navigation-color-hover;
  }
}
