//
// Styles for node pages.
//

.path-node {
  .node__content {
    p {
      font-size: $base-font-size * 1.3;
    }

    li {
      font-size: $base-font-size * 1.3;
    }

    // Handle floated images within posts.
    figure,
    .caption-img {
      margin: 0 0 $block-margin / 2;

      &.align-left,
      &.align-right {
        max-width: 50%;

        img {
          height: auto;
        }
      }

      &.align-left {
        margin-right: $block-margin / 2;
      }

      &.align-right {
        margin-left: $block-margin / 2;
      }
    }

    .caption > figcaption {
      margin-top: .5em;
    }

    .field--name-body p:last-child {
      margin-bottom: 0;
    }
  }

  .node__submitted {
    font-style: italic;
    margin-bottom: 1em;
  }

  .node__links {
    .comment-forbidden {
      padding: 0;
    }
  }
}
