//
// Styles for /posts.
//
// These styles also happen to apply to taxonomy term pages, since we only have
// a single vocabulary and it's tags for posts.
//

// Styles for both views on the posts page.
.path-posts,
.path-taxonomy {
  .layout-content {
    padding: 0;
  }

  .block-system-main-block {
    clear: both;
  }

  .node__submitted {
    margin-bottom: .5em;
  }

  img {
    height: auto;
  }

  .field--type-image {
    margin: 0 0 1em;
  }

  .pager {
    margin-top: $block-margin / 2;
  }

  .feed-icons {
    padding: 1em 1em 0;
  }
}
