//
// Styles for node page sidebar.
//

.path-node .layout-sidebar {
  .block {
    padding: 0;

    h2 {
      background-color: $base-font-color;
      border-radius: $base-border-radius * 2 $base-border-radius * 2 0 0;
      color: $base-background-color;
      padding: .5em 0;
      text-align: center;
    }

    // May need to add more classes depending on block content.
    .view-content,
    .field--name-body {
      padding: 0 1em 1em;
    }
  }

  // Recent posts.
  .block-views-blockposts-block-1 {
    .item-list li {
      border-bottom: solid 1px $light-gray;
      padding-bottom: .25em;

      &:last-child {
        border: 0;
        padding: 0;
      }
    }
  }

  // Winter league pre-registration.
  .block-block-contentc4acc539-e2c6-4087-8e00-e8f8e2df8844 {
    p:nth-child(2) {
      text-align: center;
    }

    a {
      @extend #{$all-buttons};
    }
  }
}
