a {
  &:active,
  &:focus,
  &:hover {
    color: $logo-blue;
  }
}

blockquote,
%blockquote {
  border-left: 4px solid $light-gray;
  margin-left: 1em;
  padding-left: .5em;

  @include media($small) {
    margin-left: 2em;
    padding-left: 1em;
  }
}

// Typography styles for nodes.
.path-node article {
  h2,
  h3,
  h4,
  h5 { margin-top: 1.5em; }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}
