body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
    h1 {
      font-size: $base-font-size * 2;
    }
    h2 {
        font-size: $base-font-size * 1.5;
    }
    h3 {
        font-size: $base-font-size * 1.4;
    }
    h4 {
        font-size: $base-font-size * 1.3;
    }
    h5 {
        font-size: $base-font-size * 1.2;
    }
    h6 {
        font-size: $base-font-size * 1.1;
    }
}

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: $logo-blue;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote,
%blockquote {
  border-left: 4px solid $light-gray;
  margin-left: 1em;
  padding-left: .5em;

  @include media($small) {
    margin-left: 2em;
    padding-left: 1em;
  }
}

// Typography styles for nodes.
.path-node article {
  h2,
  h3,
  h4,
  h5 { margin-top: 1.5em; }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}
