h1 {
  font-size: $base-font-size * 2;
}

h2 {
  font-size: $base-font-size * 1.5;
}

h3 {
  font-size: $base-font-size * 1.4;
}

h4 {
  font-size: $base-font-size * 1.3;
}

h5 {
  font-size: $base-font-size * 1.2;
}

h6 {
  font-size: $base-font-size * 1.1;
}

a {
  &:active,
  &:focus,
  &:hover {
    color: $logo-blue;
  }
}

blockquote,
%blockquote {
  border-left: 4px solid $light-gray;
  margin-left: 1em;
  padding-left: .5em;

  @include media($small) {
    margin-left: 2em;
    padding-left: 1em;
  }
}

// Typography styles for nodes.
.path-node article {
  h2,
  h3,
  h4,
  h5 { margin-top: 1.5em; }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }
}
