// Typography
// Fjalla One (Headings)
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Fjalla+One);

// PT Sans (Copytext)
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);

$heading-font-family: 'Fjalla One', $helvetica;
$base-font-family: 'PT Sans', $helvetica;

// Font Sizes
$base-font-size: 1.1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$general-spacing: 1em;
$footer-height: 4em;

// Colors
$base-font-color: #666; // Dark gray.
$action-color: #477dca; // Medium blue.
$light-gray: #ddd;
$logo-blue: #00bbf1;
$logo-red: #ea3745;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff; // White.
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Navigation refill variables
$navigation-background: $base-font-color;
$navigation-color: transparentize($base-background-color, .2);;
$navigation-color-hover: $base-background-color;
$header-height: 8em;
$header-break: em(450);
$navigation-height: 4em;
$navigation-active-link-color: $base-background-color;
$navigation-padding: 1.5em;

// Footer refill variables
$footer-background: $base-font-color;
$footer-color: $base-background-color;
$footer-link-color: $base-background-color;

// Custom mixins and abstract classes
%block {
  border: solid 1px $light-gray;
  border-radius: $base-border-radius * 2;
  padding: $general-spacing;
}