/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 */
/* Import Sass mixins, variables, Compass modules, Bourbon and Neat, etc. */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
/* line 4, ../sass/lib/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../sass/lib/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* HTML element (SMACSS base) rules */
/* line 65, ../sass/base/_variables.scss */
.path-frontpage .layout-content-left,
.path-frontpage .layout-content-right, .path-node .layout-sidebar .block {
  border: solid 1px #ddd;
  border-radius: 6px;
  padding: 1em;
}

/* line 71, ../sass/base/_variables.scss */
.path-node h1, .path-posts h1 {
  border-bottom: solid 4px #ea3745;
  padding-bottom: .5em;
}

/* line 76, ../sass/base/_variables.scss */
.path-posts .block-system-main-block .view-posts .node__links li, .block-views-blockposts-block-2 .views-row .node__content .node__links li {
  border: solid 1px #ddd;
  border-radius: 3px;
  display: inline-block;
  font-weight: 600;
  padding: .5em;
}
/* line 83, ../sass/base/_variables.scss */
.path-posts .block-system-main-block .view-posts .node__links li:first-child, .block-views-blockposts-block-2 .views-row .node__content .node__links li:first-child {
  margin-right: .5em;
}

/* line 1, ../sass/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
header .header__top .menu--account .menu-item a,
header .header__main-menu .menu--account .menu-item a,
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a {
  appearance: none;
  background-color: #477dca;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, ../sass/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
header .header__top .menu--account .menu-item a:hover,
header .header__main-menu .menu--account .menu-item a:hover,
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:hover,
header .header__top .menu--account .menu-item a:focus,
header .header__main-menu .menu--account .menu-item a:focus,
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:focus {
  background-color: #00bbf1;
  color: #fff;
}
/* line 28, ../sass/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
header .header__top .menu--account .menu-item a:disabled,
header .header__main-menu .menu--account .menu-item a:disabled,
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 32, ../sass/base/_buttons.scss */
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover,
header .header__top .menu--account .menu-item a:disabled:hover,
header .header__main-menu .menu--account .menu-item a:disabled:hover,
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:disabled:hover {
  background-color: #477dca;
}

/* line 1, ../sass/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em;
}

/* line 8, ../sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.1em;
}

/* line 16, ../sass/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.375em;
}
/* line 20, ../sass/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../sass/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1.1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 43, ../sass/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover {
  border-color: #b1b1b1;
}
/* line 47, ../sass/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus {
  border-color: #477dca;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}
/* line 53, ../sass/base/_forms.scss */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple=multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 57, ../sass/base/_forms.scss */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple=multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 63, ../sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 67, ../sass/base/_forms.scss */
input[type="search"] {
  appearance: none;
}

/* line 71, ../sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}
/* line 76, ../sass/base/_forms.scss */
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

/* line 81, ../sass/base/_forms.scss */
input[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 86, ../sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../sass/base/_lists.scss */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 20, ../sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, ../sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, ../sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, ../sass/base/_tables.scss */
table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../sass/base/_tables.scss */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 16, ../sass/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 21, ../sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, ../sass/base/_typography.scss */
body {
  color: #666;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: 1.1em;
  line-height: 1.5;
}

/* line 9, ../sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em;
}
/* line 18, ../sass/base/_typography.scss */
h1 h1,
h2 h1,
h3 h1,
h4 h1,
h5 h1,
h6 h1 {
  font-size: 2.2em;
}
/* line 21, ../sass/base/_typography.scss */
h1 h2,
h2 h2,
h3 h2,
h4 h2,
h5 h2,
h6 h2 {
  font-size: 1.65em;
}
/* line 24, ../sass/base/_typography.scss */
h1 h3,
h2 h3,
h3 h3,
h4 h3,
h5 h3,
h6 h3 {
  font-size: 1.54em;
}
/* line 27, ../sass/base/_typography.scss */
h1 h4,
h2 h4,
h3 h4,
h4 h4,
h5 h4,
h6 h4 {
  font-size: 1.43em;
}
/* line 30, ../sass/base/_typography.scss */
h1 h5,
h2 h5,
h3 h5,
h4 h5,
h5 h5,
h6 h5 {
  font-size: 1.32em;
}
/* line 33, ../sass/base/_typography.scss */
h1 h6,
h2 h6,
h3 h6,
h4 h6,
h5 h6,
h6 h6 {
  font-size: 1.21em;
}

/* line 38, ../sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 42, ../sass/base/_typography.scss */
a {
  color: #477dca;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 47, ../sass/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #00bbf1;
}

/* line 54, ../sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 62, ../sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 68, ../sass/base/_typography.scss */
blockquote {
  border-left: 4px solid #ddd;
  margin-left: 1em;
  padding-left: .5em;
}
@media screen and (min-width: 40.625em) {
  /* line 68, ../sass/base/_typography.scss */
  blockquote {
    margin-left: 2em;
    padding-left: 1em;
  }
}

/* line 82, ../sass/base/_typography.scss */
.path-node article h2,
.path-node article h3,
.path-node article h4,
.path-node article h5 {
  margin-top: 1.5em;
}
/* line 87, ../sass/base/_typography.scss */
.path-node article ul,
.path-node article ol {
  margin: 0 0 .75em 2em;
}
/* line 92, ../sass/base/_typography.scss */
.path-node article ul {
  list-style-type: disc;
}
/* line 93, ../sass/base/_typography.scss */
.path-node article ol {
  list-style-type: decimal;
}

/* Layout rules */
/**
 * @file
 *
 * Site-wide layout styles.
 */
/* line 7, ../sass/layouts/_layout-base.scss */
body {
  max-width: 111.11111em;
  margin-left: auto;
  margin-right: auto;
}
/* line 20, ../sass/lib/bourbon/addons/_clearfix.scss */
body::after {
  clear: both;
  content: "";
  display: table;
}
/* line 10, ../sass/layouts/_layout-base.scss */
body main {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  padding: 3em 0;
}
/* line 89, ../sass/lib/neat/grid/_span-columns.scss */
body main:last-child {
  margin-right: 0;
}
/* line 20, ../sass/lib/bourbon/addons/_clearfix.scss */
body main::after {
  clear: both;
  content: "";
  display: table;
}
/* line 19, ../sass/layouts/_layout-base.scss */
body .field--name-field-tags .field__label {
  display: inline-block;
}
/* line 23, ../sass/layouts/_layout-base.scss */
body .field--name-field-tags .field__items {
  display: inline-block;
}
/* line 26, ../sass/layouts/_layout-base.scss */
body .field--name-field-tags .field__items .field__item {
  display: inline-block;
  margin-left: .5em;
}

/**
 * @file
 *
 * Layout styles for the front page.
 */
@media screen and (min-width: 40.625em) {
  /* line 9, ../sass/layouts/_layout-front.scss */
  .path-frontpage .layout-content-left,
  .path-frontpage .layout-content-right {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 48.57871%;
    padding: 2em;
  }
  /* line 89, ../sass/lib/neat/grid/_span-columns.scss */
  .path-frontpage .layout-content-left:last-child,
  .path-frontpage .layout-content-right:last-child {
    margin-right: 0;
  }
}
/* line 18, ../sass/layouts/_layout-front.scss */
.path-frontpage .layout-content-left li,
.path-frontpage .layout-content-right li {
  margin: 0 0 .5em 0;
}
/* line 23, ../sass/layouts/_layout-front.scss */
.path-frontpage .layout-content-left {
  margin-bottom: 3em;
}
@media screen and (min-width: 40.625em) {
  /* line 23, ../sass/layouts/_layout-front.scss */
  .path-frontpage .layout-content-left {
    margin-bottom: 0;
  }
}
/* line 30, ../sass/layouts/_layout-front.scss */
.path-frontpage .layout-content-left .field--name-body h2 {
  margin-top: 1.5em;
}
/* line 36, ../sass/layouts/_layout-front.scss */
.path-frontpage .layout-content-right .menu--tools h2 {
  margin-top: 1.5em;
}

/**
 * @file
 *
 * Layout styles for node pages.
 */
/* line 11, ../sass/layouts/_layout-node.scss */
.path-node #block-atletico-local-tasks {
  margin-bottom: 1.5em;
  text-align: center;
}
/* line 16, ../sass/layouts/_layout-node.scss */
.path-node section {
  margin-top: 1.5em;
}
/* line 21, ../sass/layouts/_layout-node.scss */
.path-node article img {
  display: block;
  margin: 1em auto;
}

/* line 32, ../sass/layouts/_layout-node.scss */
.path-node.node--type-article .node__links .comment-forbidden {
  padding: 0;
}
@media screen and (min-width: 60em) {
  /* line 38, ../sass/layouts/_layout-node.scss */
  .path-node.node--type-article .layout-content {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 66.57616%;
  }
  /* line 89, ../sass/lib/neat/grid/_span-columns.scss */
  .path-node.node--type-article .layout-content:last-child {
    margin-right: 0;
  }
}
/* line 44, ../sass/layouts/_layout-node.scss */
.path-node.node--type-article .layout-sidebar {
  margin-top: 3em;
}
@media screen and (min-width: 60em) {
  /* line 44, ../sass/layouts/_layout-node.scss */
  .path-node.node--type-article .layout-sidebar {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 28.01019%;
    margin-left: 2.57106%;
    margin-top: 0;
  }
  /* line 89, ../sass/lib/neat/grid/_span-columns.scss */
  .path-node.node--type-article .layout-sidebar:last-child {
    margin-right: 0;
  }
}
/* line 53, ../sass/layouts/_layout-node.scss */
.path-node.node--type-article .layout-sidebar .block {
  margin-bottom: 3em;
}
/* line 56, ../sass/layouts/_layout-node.scss */
.path-node.node--type-article .layout-sidebar .block:last-child {
  margin-bottom: 0;
}
/* line 61, ../sass/layouts/_layout-node.scss */
.path-node.node--type-article .layout-sidebar .item-list li {
  margin-left: 0;
}

@media screen and (min-width: 60em) {
  /* line 70, ../sass/layouts/_layout-node.scss */
  .path-node.node--type-page main {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
  }
  /* line 89, ../sass/lib/neat/grid/_span-columns.scss */
  .path-node.node--type-page main:last-child {
    margin-right: 0;
  }
}

/**
 * @file
 *
 * Layout styles for the posts page.
 */
/* line 8, ../sass/layouts/_layout-posts.scss */
.path-posts .block-views-blockposts-block-2 {
  margin-top: 3em;
}

/* Component rules (called 'modules' in SMACSS) */
/**
 * @file
 *
 * Styles for the header region.
 */
/* line 10, ../sass/components/_header.scss */
header .header__top {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  background-color: #fff;
  z-index: 1;
}
/* line 89, ../sass/lib/neat/grid/_span-columns.scss */
header .header__top:last-child {
  margin-right: 0;
}
@media screen and (min-width: 40.625em) {
  /* line 10, ../sass/components/_header.scss */
  header .header__top {
    min-height: 8em;
  }
}
/* line 21, ../sass/components/_header.scss */
header .header__top .header__logo {
  width: 100%;
}
@media screen and (min-width: 28.125em) {
  /* line 21, ../sass/components/_header.scss */
  header .header__top .header__logo {
    display: inline-block;
    float: left;
    width: auto;
  }
}
/* line 30, ../sass/components/_header.scss */
header .header__top .header__logo .header__logo--large {
  display: block;
  margin: 0 auto;
  max-height: 7em;
  padding: 1em 0;
}
@media screen and (min-width: 28.125em) {
  /* line 30, ../sass/components/_header.scss */
  header .header__top .header__logo .header__logo--large {
    max-height: 4em;
    padding: .5em 0;
  }
}
@media screen and (min-width: 40.625em) {
  /* line 30, ../sass/components/_header.scss */
  header .header__top .header__logo .header__logo--large {
    margin: 0;
    max-height: 8em;
    max-width: 400px;
    padding: 1.5em 0;
  }
}
/* line 51, ../sass/components/_header.scss */
header .header__top .menu--account {
  display: none;
}
@media screen and (min-width: 28.125em) {
  /* line 51, ../sass/components/_header.scss */
  header .header__top .menu--account {
    display: inline-block;
    float: right;
  }
}
/* line 59, ../sass/components/_header.scss */
header .header__top .menu--account ul {
  margin: 0;
}
/* line 63, ../sass/components/_header.scss */
header .header__top .menu--account .menu-item {
  display: inline-block;
  line-height: 4em;
  margin-left: .5em;
  padding: 0;
}
@media screen and (min-width: 40.625em) {
  /* line 63, ../sass/components/_header.scss */
  header .header__top .menu--account .menu-item {
    line-height: 8em;
  }
}
/* line 73, ../sass/components/_header.scss */
header .header__top .menu--account .menu-item a {
  font-size: .8em;
  padding: .75em;
}
@media screen and (min-width: 40.625em) {
  /* line 73, ../sass/components/_header.scss */
  header .header__top .menu--account .menu-item a {
    font-size: 1em;
  }
}
/* line 87, ../sass/components/_header.scss */
header .header__main-menu {
  background-color: #666;
  clear: both;
  position: relative;
}
/* line 20, ../sass/lib/bourbon/addons/_clearfix.scss */
header .header__main-menu::after {
  clear: both;
  content: "";
  display: table;
}
/* line 93, ../sass/components/_header.scss */
header .header__main-menu .header__main-menu__wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}
/* line 89, ../sass/lib/neat/grid/_span-columns.scss */
header .header__main-menu .header__main-menu__wrapper:last-child {
  margin-right: 0;
}
/* line 99, ../sass/components/_header.scss */
header .header__main-menu .navigation-menu-button {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  float: right;
  font-family: "Fjalla One", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  line-height: 3em;
  margin: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 40.625em) {
  /* line 99, ../sass/components/_header.scss */
  header .header__main-menu .navigation-menu-button {
    display: none;
  }
}
/* line 113, ../sass/components/_header.scss */
header .header__main-menu .navigation-menu-button:focus, header .header__main-menu .navigation-menu-button:hover {
  color: #fff;
}
/* line 121, ../sass/components/_header.scss */
header .header__main-menu .menu--main {
  float: none;
  z-index: 9999999;
}
@media screen and (min-width: 40.625em) {
  /* line 121, ../sass/components/_header.scss */
  header .header__main-menu .menu--main {
    min-height: 4em;
  }
}
/* line 129, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
/* line 139, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul.show {
  display: block;
}
@media screen and (min-width: 40.625em) {
  /* line 129, ../sass/components/_header.scss */
  header .header__main-menu .menu--main ul {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    margin: 0 auto;
    padding: 0;
  }
}
/* line 153, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul li {
  background: #666;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  display: block;
  line-height: 2em;
  overflow: hidden;
  text-align: right;
  width: 100%;
  z-index: 9999;
}
/* line 163, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul li:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 40.625em) {
  /* line 153, ../sass/components/_header.scss */
  header .header__main-menu .menu--main ul li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: transparent;
    line-height: 4em;
    text-align: center;
    text-decoration: none;
    width: auto;
  }
}
/* line 176, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul li a {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Fjalla One", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (min-width: 40.625em) {
  /* line 176, ../sass/components/_header.scss */
  header .header__main-menu .menu--main ul li a {
    font-size: 1.25em;
  }
}
/* line 186, ../sass/components/_header.scss */
header .header__main-menu .menu--main ul li a:focus, header .header__main-menu .menu--main ul li a:hover {
  color: #fff;
}
/* line 195, ../sass/components/_header.scss */
header .header__main-menu ul.menu a.is-active {
  color: #fff;
  font-weight: bold;
}
/* line 201, ../sass/components/_header.scss */
header .header__main-menu .menu--account {
  display: inline-block;
  float: left;
}
@media screen and (min-width: 28.125em) {
  /* line 201, ../sass/components/_header.scss */
  header .header__main-menu .menu--account {
    display: none;
  }
}
/* line 209, ../sass/components/_header.scss */
header .header__main-menu .menu--account .menu {
  margin: 0;
}
/* line 213, ../sass/components/_header.scss */
header .header__main-menu .menu--account .menu-item {
  display: inline-block;
  margin-right: .5em;
  padding: .5em 0;
}
/* line 218, ../sass/components/_header.scss */
header .header__main-menu .menu--account .menu-item a {
  color: #fff;
  font-size: .8em;
  padding: .75em;
}

/**
 * @file
 *
 * Styles for the call to action on the front page.
 */
/* line 7, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action {
  background: url("../images/call-to-action.jpg"), -webkit-linear-gradient(-280deg, #264d85, #00bbf1), no-repeat #00bbf1 scroll;
  background: url("../images/call-to-action.jpg"), linear-gradient(10deg, #264d85, #00bbf1), no-repeat #00bbf1 scroll;
  background-color: #264d85;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3em;
  padding-bottom: 3em;
}
/* line 23, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action .call-to-action__inner {
  max-width: 111.11111em;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding: 7em 1em 1em;
  text-align: center;
}
/* line 20, ../sass/lib/bourbon/addons/_clearfix.scss */
.path-frontpage .call-to-action .call-to-action__inner::after {
  clear: both;
  content: "";
  display: table;
}
/* line 20, ../sass/lib/bourbon/addons/_clearfix.scss */
.path-frontpage .call-to-action .call-to-action__inner::after {
  clear: both;
  content: "";
  display: table;
}
@media screen and (min-width: 40.625em) {
  /* line 23, ../sass/components/_call-to-action.scss */
  .path-frontpage .call-to-action .call-to-action__inner {
    padding: 7em 3.5em 3.5em;
  }
}
/* line 34, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy {
  text-align: center;
}
/* line 37, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy h2 {
  color: white;
  font-size: 1.4em;
  margin-bottom: .5em;
}
@media screen and (min-width: 53.75em) {
  /* line 37, ../sass/components/_call-to-action.scss */
  .path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy h2 {
    font-size: 2.25em;
  }
}
/* line 47, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a {
  background-color: #ea3745;
  font-size: .8em;
  margin-bottom: 1em;
}
/* line 53, ../sass/components/_call-to-action.scss */
.path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:hover, .path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a:focus {
  background-color: #ef6570;
}
@media screen and (min-width: 53.75em) {
  /* line 47, ../sass/components/_call-to-action.scss */
  .path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a {
    font-size: 1.1em;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 25em) {
  /* line 63, ../sass/components/_call-to-action.scss */
  .path-frontpage .call-to-action .call-to-action__inner .call-to-action__copy a.call-to-action__button--left {
    margin-right: .5em;
  }
}

/**
 * @file
 *
 * Styles for node page sidebar.
 */
/* line 8, ../sass/components/_sidebar.scss */
.path-node .layout-sidebar .block {
  padding: 0;
}
/* line 12, ../sass/components/_sidebar.scss */
.path-node .layout-sidebar .block h2 {
  background-color: #666;
  border-radius: 6px 6px 0 0;
  color: #fff;
  padding: .5em 0;
  text-align: center;
}
/* line 21, ../sass/components/_sidebar.scss */
.path-node .layout-sidebar .block .view-content {
  padding: 0 1em 1em;
}
/* line 28, ../sass/components/_sidebar.scss */
.path-node .layout-sidebar .block-views-blockposts-block-1 .item-list li {
  border-bottom: solid 1px #ddd;
  padding-bottom: .25em;
}
/* line 32, ../sass/components/_sidebar.scss */
.path-node .layout-sidebar .block-views-blockposts-block-1 .item-list li:last-child {
  border: none;
  padding: 0;
}

/**
 * @file
 *
 * Styles for the footer region.
 */
/* line 7, ../sass/components/_footer.scss */
.region-footer {
  background-color: #666;
  border-top: solid 1em #ea3745;
  clear: both;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}
/* line 14, ../sass/components/_footer.scss */
.region-footer .footer__wrapper {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
  float: none;
}
/* line 89, ../sass/lib/neat/grid/_span-columns.scss */
.region-footer .footer__wrapper:last-child {
  margin-right: 0;
}
/* line 20, ../sass/components/_footer.scss */
.region-footer .footer__logo {
  display: inline-block;
}
/* line 23, ../sass/components/_footer.scss */
.region-footer .footer__logo img {
  line-height: 1em;
}
/* line 28, ../sass/components/_footer.scss */
.region-footer .menu--footer {
  display: inline-block;
  float: right;
}
/* line 32, ../sass/components/_footer.scss */
.region-footer .menu--footer .menu {
  line-height: 1.5em;
  margin: 0 0 1em 0;
  padding: 0;
}
@media screen and (min-width: 40.625em) {
  /* line 32, ../sass/components/_footer.scss */
  .region-footer .menu--footer .menu {
    float: left;
    margin-left: 2em;
    margin-bottom: 0;
  }
}
/* line 44, ../sass/components/_footer.scss */
.region-footer .menu--footer .menu-item {
  line-height: 1.5em;
  list-style: none;
  padding-top: 0;
  text-align: right;
}
@media screen and (min-width: 40.625em) {
  /* line 44, ../sass/components/_footer.scss */
  .region-footer .menu--footer .menu-item {
    display: inline;
    line-height: 4em;
    padding-right: 2em;
    text-align: left;
  }
}
/* line 57, ../sass/components/_footer.scss */
.region-footer .menu--footer .menu-item a {
  color: rgba(255, 255, 255, 0.8);
}
/* line 60, ../sass/components/_footer.scss */
.region-footer .menu--footer .menu-item a:hover, .region-footer .menu--footer .menu-item a:focus {
  color: #fff;
}

/**
 * @file
 *
 * Styles for the highlighted region.
 */
/* line 8, ../sass/components/_highlighted.scss */
.region-highlighted .messages {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 8.5298%;
}
/* line 89, ../sass/lib/neat/grid/_span-columns.scss */
.region-highlighted .messages:last-child {
  margin-right: 0;
}

/**
 * @file
 *
 * Styles for node pages.
 */
/* line 8, ../sass/components/_node.scss */
.path-node h1 {
  text-align: center;
}
/* line 13, ../sass/components/_node.scss */
.path-node .node__meta {
  margin-bottom: 1.5em;
  text-align: center;
}
/* line 21, ../sass/components/_node.scss */
.path-node .node__content .caption-img.align-left,
.path-node .node__content .caption-img.align-right {
  max-width: 50%;
}
/* line 25, ../sass/components/_node.scss */
.path-node .node__content .caption-img.align-left img,
.path-node .node__content .caption-img.align-right img {
  height: auto;
}
/* line 30, ../sass/components/_node.scss */
.path-node .node__content .field--name-body p:last-child {
  margin-bottom: 0;
}
/* line 34, ../sass/components/_node.scss */
.path-node .node__content .field--name-field-tags {
  border-bottom: solid 4px #ea3745;
  margin: 1.5em 0;
  padding-bottom: 1.5em;
}

/**
 * @file
 *
 * Custom form styles.
 */
@media screen and (min-width: 40.625em) {
  /* line 9, ../sass/components/_forms.scss */
  .path-user input[type=text],
  .path-user input[type=email],
  .path-user input[type=password] {
    width: 50%;
  }
}
@media screen and (min-width: 60em) {
  /* line 9, ../sass/components/_forms.scss */
  .path-user input[type=text],
  .path-user input[type=email],
  .path-user input[type=password] {
    width: 33%;
  }
}

@media screen and (min-width: 60em) {
  /* line 24, ../sass/components/_forms.scss */
  .path-contact input[type=text],
  .path-contact input[type=email],
  .path-contact textarea {
    width: 66%;
  }
}

/**
 * @file
 *
 * Styles for /posts.
 */
/* line 13, ../sass/components/_posts.scss */
.path-posts .block-system-main-block .view-posts .node__meta {
  margin-bottom: 1em;
}
/* line 18, ../sass/components/_posts.scss */
.path-posts .block-system-main-block .view-posts .node__content img {
  display: block;
  margin: 0 auto 1em;
}
@media screen and (min-width: 40.625em) {
  /* line 18, ../sass/components/_posts.scss */
  .path-posts .block-system-main-block .view-posts .node__content img {
    float: left;
    margin: 0 2em 1em 0;
  }
}
/* line 30, ../sass/components/_posts.scss */
.path-posts .block-system-main-block .view-posts .node__links li {
  margin-top: 1em;
}

/**
 * @file
 *
 * Styles for the list of posts using the Cards Refill.
 */
/* line 8, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .view-content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
/* line 14, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row {
  -webkit-flex-basis: 15em;
  -moz-flex-basis: 15em;
  flex-basis: 15em;
  -ms-flex-preferred-size: 15em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 4px #e6e6e6;
  cursor: auto;
  margin: 0 1em 1.5em;
  position: relative;
}
/* line 40, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row article > h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 0;
  padding: 0.5em 0.75em;
}
/* line 53, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row .node__meta,
.block-views-blockposts-block-2 .views-row .node__content {
  font-size: .9em;
  line-height: 1.5em;
  padding: 0.75em;
}
/* line 59, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row .node__meta p,
.block-views-blockposts-block-2 .views-row .node__content p {
  margin: 0 0 0.75em;
}
/* line 65, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row .node__content .field--name-field-image {
  display: none;
}
/* line 69, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row .node__content .field--name-body img {
  display: block;
  float: none;
  height: auto;
  margin: 0 auto 1em;
  max-width: 230px;
}
/* line 78, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row .node__content .node__links li {
  margin-top: 0.75em;
}
/* line 85, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row:focus, .block-views-blockposts-block-2 .views-row:hover {
  background-color: white;
}
/* line 89, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row:focus .card-header, .block-views-blockposts-block-2 .views-row:hover .card-header {
  background-color: white;
}
/* line 94, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row:active {
  background-color: #f7f7f7;
}
/* line 97, ../sass/components/_post-cards.scss */
.block-views-blockposts-block-2 .views-row:active .article > h2 {
  background-color: #f7f7f7;
}
