//
// Layout styles for the posts page.
//

.path-posts {
  .block-system-main-block {
    clear: both;
  }

  // Layout for list of posts excluding latest post.
  .views-row > article,
  .view-header {
    @include media($medium) {
      @include span-columns(8 of 12);
      @include shift(2);

      float: none;
    }
  }

  // Latest post view on the posts page.
  // Limit all fields but the page title.
  .view-posts.view-display-id-block_4 {
    .views-field-nothing-2,
    .views-field-field-image,
    .views-field-body,
    .views-field-nothing,
    .views-field-nothing-1 {
      @include media($medium) {
        @include span-columns(8 of 12);
        @include shift(2);

        float: none;
        padding: 0 1em;
      }
    }
  }
}
