//
// Layout styles for node pages.
//

.path-node,
.path-contact,
.path-user {
  .layout-content {
    @include media($medium) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  // Tabs viewable by admins.
  .block-local-tasks-block {
    margin: 1.5em 0;
  }

  section {
    margin-top: $general-spacing * 1.5;
  }

  article {
    margin-bottom: $general-spacing * 3;
  }
}
