//
// Site-wide layout styles.
//

body {
  @include outer-container();

  main {
    @include span-columns(10);
    @include shift(1);
    @include clearfix;
    padding: $general-spacing * 3 0;
  }

  // Tags below posts on /posts and node pages.
  .field--name-field-tags {
    .field__label {
      display: inline-block;
    }

    .field__items {
      display: inline-block;

      .field__item {
        display: inline-block;
        margin-left: .5em;
      }
    }
  }
}
