//
// Layout styles for node pages.
//

// All node pages.
.path-node {
  .layout-content {
    @include media($medium) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
  }

  // Tabs viewable by admins.
  .block-local-tasks-block {
    margin: 1.5em 0;
  }

  section {
    margin-top: $general-spacing * 1.5;
  }

  article {
    margin-bottom: $general-spacing * 3;

    img {
      display: block;
      margin: 1em auto;
    }
  }

  // Articles.
  &.node--type-article {

    .node__links {
      .comment-forbidden {
        padding: 0;
      }
    }

    // Two column layout on larger screens.
    .layout-content {
      @include media($medium) {
        @include span-columns(6.75 of 10);
      }
    }

    .layout-sidebar {
      margin-top: $general-spacing * 3;

      @include media($medium) {
        @include span-columns(3 of 10);
        @include shift(.25);
        margin-top: 0;
      }

      .block {
        margin-bottom: $general-spacing * 3;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .item-list li {
        margin-left: 0;
      }
    }
  }
}
