#{$all-buttons} {
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: $logo-blue;
  }
}

.more-link,
.node-readmore {
  display: block;

  a {
    @extend #{$all-buttons};

    text-align: center;
    width: 100%;
  }
}
